@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  /* White */
  --color-white: hsl(0, 0%, 100%);

  /* Stone shades */
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);

  /* Brown shade */
  --color-brown-800: hsl(14, 45%, 36%);

  /* Rose shades */
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
}


body{
  background-color: var(--color-stone-100);
  font-family: 'Outfit', Courier, monospace;
  color: var(--color-stone-600);
}

h1,h2{
  font-family: 'Young Serif', Courier, monospace;
  color: var(--color-stone-900);
}

h1{
  font-weight: 500;
}

h2{
  color: var(--color-brown-800);
}
h3{
  color: var(--color-rose-800);
}

main{
  background-color: var(--color-white);
  width: 700px;
  margin: 0 auto;
  /* border: 20px pink double; */
  padding: 40px;
  border-radius: 35px;
}

img{
  width: 100%;
  border-radius: 15px;
}

article{
  background-color: var(--color-rose-50);
  border-radius: 15px;
  padding: 7px 15px;
}

li{
  margin: 10px;
}

span{
  font-weight: 700;
}

table{
  width: 100%;
}

td{
  padding: 10px 0;
  border-bottom: 1px var(--color-stone-150) solid ;
}

section{
  border-bottom: 2px solid var(--color-stone-150);
}