@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  /* White */
  --color-white: hsl(0, 0%, 100%);

  /* Stone shades */
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);

  /* Brown shade */
  --color-brown-800: hsl(14, 45%, 36%);

  /* Rose shades */
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
}


body{
  background-color: var(--color-stone-100);
  font-family: 'Outfit', Courier, monospace;

}

h1,h2{
  font-family: 'Young Serif', Courier, monospace;
}